*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --main-color: white;
    --main-gradientColor: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    --highlight-color: rgba(0,0,0,.2);
    --orange: #feac5e;
    --purp: #c779d0;
    --blue: #4bc0c8;
    --main-fontColor: black;
    --red: #FF5252;
    --green: #7EF482;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
svg > *{
    transition: .25s;
}
a{
    text-decoration: none;
    color: var(--main-fontColor);
}
li{
    list-style: none;
}
input,
button{
    outline: none;
}
button{
    text-transform: uppercase;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}
footer{
    position: fixed;
    bottom: 0;
    opacity: .5;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

body{
    background: var(--main-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
main{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    background: var(--main-gradientColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 250px;
}
a{
    align-self: flex-end;
    font-size: .8rem;
}
a span{
    color: var(--purp);
}
input[type="file"], input[type="range"]{
    border: none;
}
input[type="radio"]{
    display: none;
}
.signup-part{
    margin-top: 5px;
    color:var(--purp);
}
form svg{
    width: 80px;
    height: 80px;
    padding: 10px;
}
form input{
    border: none;
    padding: 8px 10px;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: var(--highlight-color) solid 1px;
}

form .gender{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

form .gender label{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .2;
    border: 2px solid var(--purp);
    color: var(--purp);
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .5s;
}
form .gender label > svg path{
    fill: var(--purp);
}
form .gender.preference label{
    padding: 2px 5px;
    margin-bottom: 10px;
}
form .gender.preference svg{
    width: 60px;
}
form .gender.preference label:last-of-type svg{
    padding: 0px;
    padding-left: 10px;
}

form .gender input[type="radio"]:checked+label{
    opacity: 1;
}
form .gender label:hover{
    opacity: .7;

}

form button{
    width: 100%;
    background: var(--main-gradientColor);
    color: var(--main-color);
}

p.error{
    color: red;
    margin: 10px 0;
    font-size: 0.8rem;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
    pointer-events: none;
    transform: translate(50%,0);
}
.field.visible{
    opacity: 1;
    pointer-events: initial;
    transform: translate(0,0);
}
.field.visible.done{
    opacity: 0;
    transform: translate(-50%,0);
}

.field.image input{
    margin: 0;
    margin-bottom: 20px;
}

.field.image img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.buttons-container{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.buttons-container .buttons{
    display: flex;
}

.buttons-container button{
    background: var(--main-color);
}
.buttons-container > button:first-of-type{
    margin-top: 10px;
    position: relative;
}
.buttons-container > button:first-of-type:disabled::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    top: 0;
    left: 0;
}
.buttons-container .buttons button:disabled{
    opacity: .3;
}
.buttons-container .buttons button:last-of-type,
.buttons-container > button:first-of-type{
    background: var(--main-gradientColor);
}
.buttons-container .buttons button:first-of-type{
    display: flex;
    align-items: center;
    background-clip: padding-box; 
    border: solid 5px transparent; 
    text-align: center;
    position: relative;
    justify-content: center;
    color: black;
}

.buttons-container .buttons button:first-of-type::before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit; 
    background: var(--main-gradientColor);
}

.minAge,
.maxAge{
    width: 100%;
}
.minAge p,
.maxAge p{
    color: var(--purp);
    font-weight: bold;  
    margin: 10px 0;
}
.minAge p span,
.maxAge p span{
    color: black;
    font-weight: normal;  
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    margin-bottom: 10px;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--purp);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--purp);
    cursor: pointer;
}


.progress{
    position: fixed;
    bottom: 20px;
    display: flex;
    width: 50vw;
}
.steps-hearth{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.progress svg{
    width: 50px;
    opacity: .4;
    transition: all 1s;
}
.progress svg.active{
    opacity: 1;
}
.progress svg.done > path{
    fill: var(--green);
}
.progress svg.error > *,
.progress svg.error {
    fill: var(--red) !important;
    opacity: 1;
}
.progress .step{
    text-align: center;
}
.progress .step p{
    font-size: .8rem;
    opacity: .4;
    margin: 15px 0;
    transition: all 1s;
    color: var(--purp);
    font-weight: bold;
}
.progress .step p.done{
    opacity: 1;
}
.progress .step p.error{
    opacity: 1;
    color: var(--red);
}
.progress svg path{
    fill: var(--purp);
}
.steps-bar{
    width: 100vw;
    display: none;
    align-items: flex-end;
}
.bar{
    flex: 1 1 auto;
    height: 10px;
    background: var(--purp);
    opacity: .3;
    transition: all .25s;
    border-right: solid 2px white;
}
.bar.active{
    opacity: 1;
}
.bar.error{
    background: var(--red)!important;
}
.bar.done{
    background: var(--green);
}
.bar:last-of-type{
    border: none;
}

@media only screen and (max-width: 550px) {
    form {
        overflow: hidden;
    }
    main {
        margin-top: 15vh;
    }
    footer{
        display: none;
    }
    .steps-hearth{
        display: none;
    }
    .steps-bar{
        display: flex;
    }
    .progress{
        width: 100vw;
        bottom: 0;
    }
}
@media only screen and (max-width: 400px){
    main {
        margin-top: 10vh;
    }
}
@media only screen and (max-width: 400px){
    main {
        margin-top: 2vh;
    }
}


@media only screen and (min-width: 1000px) {
    main {
        margin-top: 15vh;
    }
}
@media only screen and (min-width: 1200px) {
    main {
        margin-top: 25vh;
    }
}
